<div class="user-edit" *ngIf="user">
    <!-- <p>id:<input type="text" [(ngModel)]="user.id"/></p> -->
    <p>Name:<input type="text" [(ngModel)]="user.name"  /></p>
    <p>CreatedAt:<input type="date" [ngModel] ="user.createdAt | date:'yyyy-MM-dd'" (ngModelChange)="user.createdAt = $event"></p>
    <p>Avatar:<input type="file" (change)="readUrl($event)"/></p>
     <img [src]="user.avatar"/>
     <button (click)="addUser()">Add user</button>
    <!-- {{user.createdAt | date: 'dd/MM/y'}} -->
    <!--{{user.createdAt | date: 'dd/MM/y H:m:s'}}-->
</div>